In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Load data
file_path = '/Users/ginomontero/Documents/mitochondria-project/data/raw/Supplementary_Data_1.xlsx'
df = pd.read_excel(file_path)

# First look at data
print("Dataset shape:", df.shape)
print("\nFirst 5 rows:")
print(df.head())

print("\nColumn names:")
print(df.dtypes)

print("\nMissing values:")
print(df.isnull().sum())

print("\nBasic statistics:")
print(df.describe())

Dataset shape: (30, 6)

First 5 rows:
  Sample_ID Diagnosis Sex  Age RNA Sample ID - GEO  GSE224683  \
0    UCI_10      CTRL   F   45                       Sample22
1    UCI_11      CTRL   M   77                       Sample28
2    UCI_12       SCZ   M   49                        Sample4
3    UCI_13       SCZ   M   38                       Sample21
4    UCI_14      CTRL   M   59                        Sample9

   DNA  Sample ID - dbGaP phs002395.v1.p1
0                                     258
1                                     204
2                                     300
3                                     302
4                                     284

Column names:
Sample_ID                                 object
Diagnosis                                 object
Sex                                       object
Age                                        int64
RNA Sample ID - GEO  GSE224683            object
DNA  Sample ID - dbGaP phs002395.v1.p1     int64
dtype: object

Missing values:
Sample_ID                                 0
Diagnosis                                 0
Sex                                       0
Age                                       0
RNA Sample ID - GEO  GSE224683            0
DNA  Sample ID - dbGaP phs002395.v1.p1    0
dtype: int64

Basic statistics:
             Age  DNA  Sample ID - dbGaP phs002395.v1.p1
count  30.000000                               30.000000
mean   48.100000                              309.400000
std    12.685452                               56.654184
min    24.000000                              204.000000
25%    39.000000                              272.000000
50%    49.000000                              309.000000
75%    57.500000                              357.500000
max    77.000000                              384.000000

In [5]:
# Clean column names
df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(' ', '_')
              .str.replace('-', '_')
              .str.replace('()', '')
              .str.replace(')', '')
              .str.replace('/', '_'))
print("Cleaned colum names:")
print(df.columns.tolist())

Cleaned colum names:
['sample_id', 'diagnosis', 'sex', 'age', 'rna_sample_id___geo__gse224683', 'dna__sample_id___dbgap_phs002395.v1.p1']

In [6]:
# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Load data
file_path = '/Users/ginomontero/Documents/mitochondria-project/data/raw/Supplementary_Data_1.xlsx'
df2 = pd.read_excel(file_path, sheet_name=1)

# First look at data
print("Dataset shape:", df2.shape)
print("\nFirst 5 rows:")
print(df2.head())

print("\nColumn names:")
print(df2.dtypes)

print("\nMissing values:")
print(df2.isnull().sum())

print("\nBasic statistics:")
print(df2.describe())

Dataset shape: (30, 32)

First 5 rows:
  Sample_ID  983-13803  1105-13846  1127-13868  1714-15517  3789-14807  \
0    UCI_10   0.263926    0.027782    0.000000    0.152799    0.069454
1    UCI_11   0.098968    0.368879    0.047235    0.002249    0.038237
2    UCI_12   0.149991    0.308805    0.070584    0.141168    0.035292
3    UCI_13   0.056754    0.113507    0.000000    0.000000    0.056754
4    UCI_14   0.155844    0.225108    0.467532    0.311688    0.017316

   5368-14055  5368-15335  6219-13449  6329-13994  6335-13999  6545-13846  \
0    0.013891    0.013891    0.055563    0.625087    0.680650    0.194471
1    0.053982    0.096718    0.026991    0.254167    0.359882    0.173193
2    0.052938    0.026469    0.008823    0.211752    0.141168    4.376213
3    0.000000    0.000000    0.056754    0.000000    0.567537    0.340522
4    0.017316    0.000000    0.069264    0.571429    0.675325    0.311688

   6545-14419  6840-11136  7126-14004  7126-14529  7499-14426  7720-15821  \
0    0.000000    0.027782    0.125017    0.013891    0.000000    0.152799
1    0.024742    0.044985    0.150701    0.040487    0.044985    0.188938
2    0.132345    0.017646    0.061761    0.000000    0.008823    0.035292
3    0.056754    0.000000    0.141884    0.000000    0.028377    0.283768
4    0.034632    0.000000    0.069264    0.000000    0.034632    0.225108

   7807-13999  7816-14807  7816-15382  7863-13449  7863-15382  7981-15503  \
0    0.000000    0.416725    0.055563    0.000000    0.027782    0.000000
1    0.074226    0.206932    0.020243    0.029240    0.006748    0.042736
2    0.017646    0.185283    0.000000    0.008823    0.008823    0.026469
3    0.000000    0.085131    0.000000    0.000000    0.000000    0.000000
4    0.034632    0.225108    0.017316    0.000000    0.034632    0.000000

   8471-13449  8471-13584  8471-14377  8574-13999  8624-14055  8624-14815  \
0    0.250035    0.013891    0.027782    0.000000    0.069454    0.000000
1    0.366630    0.033739    0.026991    0.058481    0.029240    0.040487
2    0.123522    0.008823    0.026469    0.017646    0.000000    0.008823
3    0.198638    0.028377    0.000000    0.056754    0.000000    0.000000
4    0.294372    0.034632    0.034632    0.000000    0.069264    0.069264

   8624-15335       Sum
0    0.000000  3.014308
1    0.033739  2.885805
2    0.061761  6.123169
3    0.000000  2.014756
4    0.103896  3.948052

Column names:
Sample_ID      object
983-13803     float64
1105-13846    float64
1127-13868    float64
1714-15517    float64
3789-14807    float64
5368-14055    float64
5368-15335    float64
6219-13449    float64
6329-13994    float64
6335-13999    float64
6545-13846    float64
6545-14419    float64
6840-11136    float64
7126-14004    float64
7126-14529    float64
7499-14426    float64
7720-15821    float64
7807-13999    float64
7816-14807    float64
7816-15382    float64
7863-13449    float64
7863-15382    float64
7981-15503    float64
8471-13449    float64
8471-13584    float64
8471-14377    float64
8574-13999    float64
8624-14055    float64
8624-14815    float64
8624-15335    float64
Sum           float64
dtype: object

Missing values:
Sample_ID     0
983-13803     0
1105-13846    0
1127-13868    0
1714-15517    0
3789-14807    0
5368-14055    0
5368-15335    0
6219-13449    0
6329-13994    0
6335-13999    0
6545-13846    0
6545-14419    0
6840-11136    0
7126-14004    0
7126-14529    0
7499-14426    0
7720-15821    0
7807-13999    0
7816-14807    0
7816-15382    0
7863-13449    0
7863-15382    0
7981-15503    0
8471-13449    0
8471-13584    0
8471-14377    0
8574-13999    0
8624-14055    0
8624-14815    0
8624-15335    0
Sum           0
dtype: int64

Basic statistics:
       983-13803  1105-13846  1127-13868  1714-15517  3789-14807  5368-14055  \
count  30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean    0.164138    0.151339    0.063165    0.093395    0.068070    0.041444
std     0.183049    0.108889    0.097812    0.105348    0.071169    0.046738
min     0.000000    0.010765    0.000000    0.000000    0.000000    0.000000
25%     0.067396    0.080658    0.000000    0.014177    0.028420    0.003531
50%     0.121432    0.116942    0.026340    0.053429    0.043084    0.020917
75%     0.165494    0.211256    0.090774    0.146975    0.077175    0.066766
max     0.749625    0.400689    0.467532    0.419287    0.311003    0.167942

       5368-15335  6219-13449  6329-13994  6335-13999  6545-13846  6545-14419  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.019678    0.042806    0.257171    0.436745    0.393008    0.023901
std      0.031748    0.035392    0.193739    0.286075    0.856358    0.029347
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.012195    0.143365    0.243494    0.103650    0.001414
50%      0.000000    0.037629    0.231917    0.360859    0.174350    0.012453
75%      0.026207    0.064729    0.378831    0.612240    0.288406    0.034495
max      0.131926    0.106749    0.632864    1.329389    4.376213    0.132345

       6840-11136  7126-14004  7126-14529  7499-14426  7720-15821  7807-13999  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.018706    0.152627    0.022753    0.021586    0.153503    0.025490
std      0.018016    0.147587    0.038101    0.020156    0.134807    0.026307
min      0.000000    0.006485    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.064732    0.000000    0.005850    0.048234    0.001945
50%      0.015056    0.107040    0.010605    0.018393    0.127970    0.017469
75%      0.036457    0.154680    0.031714    0.034421    0.197160    0.034534
max      0.049975    0.725594    0.199900    0.086129    0.468095    0.099950

       7816-14807  7816-15382  7863-13449  7863-15382  7981-15503  8471-13449  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.184570    0.019692    0.012809    0.022852    0.051479    0.267372
std      0.169515    0.022742    0.020393    0.028638    0.050536    0.202506
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.074532    0.000000    0.000000    0.000000    0.008854    0.131563
50%      0.150675    0.016619    0.006235    0.015471    0.043138    0.224336
75%      0.220564    0.036124    0.016796    0.029540    0.069996    0.355413
max      0.699650    0.071265    0.099950    0.123939    0.173514    0.746731

       8471-13584  8471-14377  8574-13999  8624-14055  8624-14815  8624-15335  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.020871    0.021446    0.031013    0.032819    0.025230    0.029372
std      0.016203    0.022787    0.032878    0.033170    0.030550    0.031086
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.010114    0.000906    0.000000    0.001496    0.000000    0.000000
50%      0.018835    0.021207    0.017087    0.023231    0.010852    0.023928
75%      0.032617    0.027584    0.056003    0.057150    0.038791    0.046573
max      0.068166    0.099950    0.126502    0.125707    0.106749    0.103896

             Sum
count  30.000000
mean    2.704914
std     1.485768
min     0.452428
25%     1.653915
50%     2.163784
75%     3.787933
max     6.123169

In [7]:
# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Load data
file_path = '/Users/ginomontero/Documents/mitochondria-project/data/raw/Supplementary_Data_1.xlsx'
df3 = pd.read_excel(file_path, sheet_name=2)

# First look at data
print("Dataset shape:", df3.shape)
print("\nFirst 5 rows:")
print(df3.head())

print("\nColumn names:")
print(df3.dtypes)

print("\nMissing values:")
print(df3.isnull().sum())

print("\nBasic statistics:")
print(df3.describe())

Dataset shape: (30, 32)

First 5 rows:
  Sample_ID  983-13803  1105-13846  1127-13868  1714-15517  3789-14807  \
0    UCI_10          0           0           0           0           0
1    UCI_11          0           0           0           0           0
2    UCI_12          0           0           0           0           0
3    UCI_13          0           0           0           0           0
4    UCI_14          0           0           0           0           0

   5368-14055  5368-15335  6219-13449  6329-13994  6335-13999  6545-13846  \
0         0.0           0         0.0           0      0.0000         0.0
1         0.0           0         0.0           0      0.0046         0.0
2         0.0           0         0.0           0      0.0000         0.0
3         0.0           0         0.0           0      0.0000         0.0
4         0.0           0         0.0           0      0.0000         0.0

   6545-14419  6840-11136  7126-14004  7126-14529  7499-14426  7720-15821  \
0           0         0.0         0.0         0.0         0.0           0
1           0         0.0         0.0         0.0         0.0           0
2           0         0.0         0.0         0.0         0.0           0
3           0         0.0         0.0         0.0         0.0           0
4           0         0.0         0.0         0.0         0.0           0

   7807-13999  7816-14807  7816-15382  7863-13449  7863-15382  7981-15503  \
0           0      0.0000         0.0         0.0         0.0      0.0020
1           0      0.0000         0.0         0.0         0.0      0.0035
2           0      0.0065         0.0         0.0         0.0      0.0000
3           0      0.0000         0.0         0.0         0.0      0.0000
4           0      0.0000         0.0         0.0         0.0      0.0000

   8471-13449  8471-13584  8471-14377  8574-13999  8624-14055  8624-14815  \
0      0.0040         0.0         0.0         0.0      0.0000         0.0
1      0.0063         0.0         0.0         0.0      0.0000         0.0
2      0.0000         0.0         0.0         0.0      0.0000         0.0
3      0.0104         0.0         0.0         0.0      0.0000         0.0
4      0.0097         0.0         0.0         0.0      0.0015         0.0

   8624-15335     Sum
0         0.0  0.0060
1         0.0  0.0144
2         0.0  0.0065
3         0.0  0.0104
4         0.0  0.0112

Column names:
Sample_ID      object
983-13803       int64
1105-13846      int64
1127-13868      int64
1714-15517      int64
3789-14807      int64
5368-14055    float64
5368-15335      int64
6219-13449    float64
6329-13994      int64
6335-13999    float64
6545-13846    float64
6545-14419      int64
6840-11136    float64
7126-14004    float64
7126-14529    float64
7499-14426    float64
7720-15821      int64
7807-13999      int64
7816-14807    float64
7816-15382    float64
7863-13449    float64
7863-15382    float64
7981-15503    float64
8471-13449    float64
8471-13584    float64
8471-14377    float64
8574-13999    float64
8624-14055    float64
8624-14815    float64
8624-15335    float64
Sum           float64
dtype: object

Missing values:
Sample_ID     0
983-13803     0
1105-13846    0
1127-13868    0
1714-15517    0
3789-14807    0
5368-14055    0
5368-15335    0
6219-13449    0
6329-13994    0
6335-13999    0
6545-13846    0
6545-14419    0
6840-11136    0
7126-14004    0
7126-14529    0
7499-14426    0
7720-15821    0
7807-13999    0
7816-14807    0
7816-15382    0
7863-13449    0
7863-15382    0
7981-15503    0
8471-13449    0
8471-13584    0
8471-14377    0
8574-13999    0
8624-14055    0
8624-14815    0
8624-15335    0
Sum           0
dtype: int64

Basic statistics:
       983-13803  1105-13846  1127-13868  1714-15517  3789-14807  5368-14055  \
count       30.0        30.0        30.0        30.0        30.0   30.000000
mean         0.0         0.0         0.0         0.0         0.0    0.000043
std          0.0         0.0         0.0         0.0         0.0    0.000237
min          0.0         0.0         0.0         0.0         0.0    0.000000
25%          0.0         0.0         0.0         0.0         0.0    0.000000
50%          0.0         0.0         0.0         0.0         0.0    0.000000
75%          0.0         0.0         0.0         0.0         0.0    0.000000
max          0.0         0.0         0.0         0.0         0.0    0.001300

       5368-15335  6219-13449  6329-13994  6335-13999  6545-13846  6545-14419  \
count        30.0   30.000000        30.0   30.000000   30.000000        30.0
mean          0.0    0.000477         0.0    0.000853    0.000300         0.0
std           0.0    0.001410         0.0    0.001764    0.000846         0.0
min           0.0    0.000000         0.0    0.000000    0.000000         0.0
25%           0.0    0.000000         0.0    0.000000    0.000000         0.0
50%           0.0    0.000000         0.0    0.000000    0.000000         0.0
75%           0.0    0.000000         0.0    0.000000    0.000000         0.0
max           0.0    0.007000         0.0    0.006100    0.004200         0.0

       6840-11136  7126-14004  7126-14529  7499-14426  7720-15821  7807-13999  \
count   30.000000   30.000000   30.000000   30.000000        30.0        30.0
mean     0.000953    0.000420    0.000133    0.000063         0.0         0.0
std      0.001912    0.001288    0.000642    0.000347         0.0         0.0
min      0.000000    0.000000    0.000000    0.000000         0.0         0.0
25%      0.000000    0.000000    0.000000    0.000000         0.0         0.0
50%      0.000000    0.000000    0.000000    0.000000         0.0         0.0
75%      0.000000    0.000000    0.000000    0.000000         0.0         0.0
max      0.006400    0.005100    0.003500    0.001900         0.0         0.0

       7816-14807  7816-15382  7863-13449  7863-15382  7981-15503  8471-13449  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.000940    0.000513    0.000047    0.000640    0.002240    0.012253
std      0.002119    0.001219    0.000256    0.002352    0.004661    0.013485
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.004125
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.007350
75%      0.000000    0.000000    0.000000    0.000000    0.003025    0.014850
max      0.008500    0.004200    0.001400    0.010000    0.021600    0.051800

       8471-13584  8471-14377  8574-13999  8624-14055  8624-14815  8624-15335  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.000707    0.000147    0.000487    0.000467    0.000263    0.001130
std      0.001421    0.000451    0.001138    0.000938    0.001125    0.001959
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000675    0.000000    0.000000    0.000525    0.000000    0.002075
max      0.005000    0.001700    0.003800    0.003800    0.005900    0.006100

             Sum
count  30.000000
mean    0.023077
std     0.026914
min     0.000000
25%     0.006100
50%     0.011350
75%     0.029000
max     0.104300

In [8]:
# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Load data
file_path = '/Users/ginomontero/Documents/mitochondria-project/data/raw/Supplementary_Data_1.xlsx'
df4 = pd.read_excel(file_path, sheet_name=3)

# First look at data
print("Dataset shape:", df4.shape)
print("\nFirst 5 rows:")
print(df4.head())

print("\nColumn names:")
print(df4.dtypes)

print("\nMissing values:")
print(df4.isnull().sum())

print("\nBasic statistics:")
print(df4.describe())

Dataset shape: (30, 32)

First 5 rows:
  Sample_ID  983-13803  1105-13846  1127-13868  1714-15517  3789-14807  \
0    UCI_10          0           0           0           0           0
1    UCI_11          0           0           0           0           0
2    UCI_12          0           0           0           0           0
3    UCI_13          0           0           0           0           0
4    UCI_14          0           0           0           0           0

   5368-14055  5368-15335  6219-13449  6329-13994  6335-13999  6545-13846  \
0         0.0           0         0.0           0      0.0000         0.0
1         0.0           0         0.0           0      0.0063         0.0
2         0.0           0         0.0           0      0.0000         0.0
3         0.0           0         0.0           0      0.0000         0.0
4         0.0           0         0.0           0      0.0000         0.0

   6545-14419  6840-11136  7126-14004  7126-14529  7499-14426  7720-15821  \
0           0         0.0      0.0000         0.0      0.0009         0.0
1           0         0.0      0.0000         0.0      0.0000         0.0
2           0         0.0      0.0000         0.0      0.0000         0.0
3           0         0.0      0.0000         0.0      0.0000         0.0
4           0         0.0      0.0009         0.0      0.0000         0.0

   7807-13999  7816-14807  7816-15382  7863-13449  7863-15382  7981-15503  \
0         0.0      0.0018         0.0         0.0         0.0      0.0027
1         0.0      0.0000         0.0         0.0         0.0      0.0019
2         0.0      0.0080         0.0         0.0         0.0      0.0000
3         0.0      0.0000         0.0         0.0         0.0      0.0000
4         0.0      0.0000         0.0         0.0         0.0      0.0000

   8471-13449  8471-13584  8471-14377  8574-13999  8624-14055  8624-14815  \
0      0.0053         0.0         0.0         0.0      0.0000         0.0
1      0.0085         0.0         0.0         0.0      0.0000         0.0
2      0.0000         0.0         0.0         0.0      0.0000         0.0
3      0.0149         0.0         0.0         0.0      0.0000         0.0
4      0.0122         0.0         0.0         0.0      0.0019         0.0

   8624-15335     Sum
0         0.0  0.0107
1         0.0  0.0167
2         0.0  0.0080
3         0.0  0.0149
4         0.0  0.0150

Column names:
Sample_ID      object
983-13803       int64
1105-13846      int64
1127-13868      int64
1714-15517      int64
3789-14807      int64
5368-14055    float64
5368-15335      int64
6219-13449    float64
6329-13994      int64
6335-13999    float64
6545-13846    float64
6545-14419      int64
6840-11136    float64
7126-14004    float64
7126-14529    float64
7499-14426    float64
7720-15821    float64
7807-13999    float64
7816-14807    float64
7816-15382    float64
7863-13449    float64
7863-15382    float64
7981-15503    float64
8471-13449    float64
8471-13584    float64
8471-14377    float64
8574-13999    float64
8624-14055    float64
8624-14815    float64
8624-15335    float64
Sum           float64
dtype: object

Missing values:
Sample_ID     0
983-13803     0
1105-13846    0
1127-13868    0
1714-15517    0
3789-14807    0
5368-14055    0
5368-15335    0
6219-13449    0
6329-13994    0
6335-13999    0
6545-13846    0
6545-14419    0
6840-11136    0
7126-14004    0
7126-14529    0
7499-14426    0
7720-15821    0
7807-13999    0
7816-14807    0
7816-15382    0
7863-13449    0
7863-15382    0
7981-15503    0
8471-13449    0
8471-13584    0
8471-14377    0
8574-13999    0
8624-14055    0
8624-14815    0
8624-15335    0
Sum           0
dtype: int64

Basic statistics:
       983-13803  1105-13846  1127-13868  1714-15517  3789-14807  5368-14055  \
count       30.0        30.0        30.0        30.0        30.0   30.000000
mean         0.0         0.0         0.0         0.0         0.0    0.000063
std          0.0         0.0         0.0         0.0         0.0    0.000347
min          0.0         0.0         0.0         0.0         0.0    0.000000
25%          0.0         0.0         0.0         0.0         0.0    0.000000
50%          0.0         0.0         0.0         0.0         0.0    0.000000
75%          0.0         0.0         0.0         0.0         0.0    0.000000
max          0.0         0.0         0.0         0.0         0.0    0.001900

       5368-15335  6219-13449  6329-13994  6335-13999  6545-13846  6545-14419  \
count        30.0   30.000000        30.0   30.000000   30.000000        30.0
mean          0.0    0.000620         0.0    0.001363    0.000440         0.0
std           0.0    0.001889         0.0    0.002295    0.001151         0.0
min           0.0    0.000000         0.0    0.000000    0.000000         0.0
25%           0.0    0.000000         0.0    0.000000    0.000000         0.0
50%           0.0    0.000000         0.0    0.000000    0.000000         0.0
75%           0.0    0.000000         0.0    0.002200    0.000000         0.0
max           0.0    0.009500         0.0    0.008300    0.005700         0.0

       6840-11136  7126-14004  7126-14529  7499-14426  7720-15821  7807-13999  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.001250    0.000797    0.000187    0.000243    0.000130    0.000117
std      0.002292    0.001595    0.000721    0.000530    0.000436    0.000394
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.001175    0.001050    0.000000    0.000000    0.000000    0.000000
max      0.008500    0.006400    0.003800    0.001900    0.002100    0.001900

       7816-14807  7816-15382  7863-13449  7863-15382  7981-15503  8471-13449  \
count   30.000000   30.000000   30.000000   30.000000   30.000000   30.000000
mean     0.001393    0.000610    0.000063    0.000820    0.001110    0.015750
std      0.002643    0.001465    0.000347    0.003018    0.002745    0.016787
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.005450
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.009650
75%      0.001075    0.000000    0.000000    0.000000    0.001275    0.020925
max      0.010700    0.004800    0.001900    0.013000    0.014100    0.070200

       8471-13584  8471-14377  8574-13999  8624-14055  8624-14815  8624-15335  \
count   30.000000   30.000000   30.000000   30.000000   30.000000    30.00000
mean     0.001040    0.000310    0.000753    0.000583    0.000307     0.00155
std      0.001832    0.000673    0.001475    0.001098    0.001259     0.00252
min      0.000000    0.000000    0.000000    0.000000    0.000000     0.00000
25%      0.000000    0.000000    0.000000    0.000000    0.000000     0.00000
50%      0.000000    0.000000    0.000000    0.000000    0.000000     0.00000
75%      0.001600    0.000000    0.000500    0.000900    0.000000     0.00275
max      0.006600    0.002400    0.004700    0.004200    0.006400     0.00860

             Sum
count  30.000000
mean    0.029500
std     0.032191
min     0.000000
25%     0.007850
50%     0.016400
75%     0.037550
max     0.133400

In [9]:
# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Load data
file_path = '/Users/ginomontero/Documents/mitochondria-project/data/raw/Supplementary_Data_1.xlsx'
df5 = pd.read_excel(file_path, sheet_name=4)

# First look at data
print("Dataset shape:", df5.shape)
print("\nFirst 5 rows:")
print(df5.head())

print("\nColumn names:")
print(df5.dtypes)

print("\nMissing values:")
print(df5.isnull().sum())

print("\nBasic statistics:")
print(df5.describe())

Dataset shape: (30, 5)

First 5 rows:
       ID  6335-13999  7816-14807  8471-13449   Sum
0  UCI_10          49          30          18   236
1  UCI_11         160          92         163  1327
2  UCI_12          16          21          14   711
3  UCI_13          20           3           7    73
4  UCI_14          39          13          17   237

Column names:
ID            object
6335-13999     int64
7816-14807     int64
8471-13449     int64
Sum            int64
dtype: object

Missing values:
ID            0
6335-13999    0
7816-14807    0
8471-13449    0
Sum           0
dtype: int64

Basic statistics:
       6335-13999  7816-14807  8471-13449          Sum
count   30.000000   30.000000    30.00000    30.000000
mean   101.433333   47.100000    75.50000   710.033333
std    129.319354   75.052327    97.80831   847.378981
min      0.000000    0.000000     0.00000    30.000000
25%     16.500000    8.500000    14.00000   128.250000
50%     44.000000   14.000000    23.00000   316.000000
75%    158.250000   70.750000   151.50000  1287.750000
max    539.000000  361.000000   332.00000  3464.000000

In [10]:
# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Load data
file_path = '/Users/ginomontero/Documents/mitochondria-project/data/raw/Supplementary_Data_1.xlsx'
df6 = pd.read_excel(file_path, sheet_name=5)

# First look at data
print("Dataset shape:", df6.shape)
print("\nFirst 5 rows:")
print(df6.head())

print("\nColumn names:")
print(df6.dtypes)

print("\nMissing values:")
print(df6.isnull().sum())

print("\nBasic statistics:")
print(df6.describe())

Dataset shape: (30, 5)

First 5 rows:
       ID  6335-13999  7816-14807  8471-13449  Sum
0  UCI_10           0           0           6    9
1  UCI_11          26           0          36   82
2  UCI_12           0          12           0   12
3  UCI_13           0           0          23   23
4  UCI_14           0           0          13   15

Column names:
ID            object
6335-13999     int64
7816-14807     int64
8471-13449     int64
Sum            int64
dtype: object

Missing values:
ID            0
6335-13999    0
7816-14807    0
8471-13449    0
Sum           0
dtype: int64

Basic statistics:
       6335-13999  7816-14807  8471-13449         Sum
count   30.000000   30.000000   30.000000   30.000000
mean     1.833333    1.233333   17.700000   33.300000
std      5.024652    2.932380   17.663815   34.169103
min      0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    5.250000    9.250000
50%      0.000000    0.000000   13.500000   19.500000
75%      0.000000    0.000000   23.750000   48.500000
max     26.000000   12.000000   74.000000  149.000000

In [11]:
# Metadata
meta = pd.read_excel(file_path, sheet_name=0)

# Deletion Percentages
deletions_pct = pd.read_excel(file_path, sheet_name=1)

meta.head()
deletions_pct.head()

,Sample_ID,983-13803,1105-13846,1127-13868,1714-15517,3789-14807,5368-14055,5368-15335,6219-13449,6329-13994,6335-13999,6545-13846,6545-14419,6840-11136,7126-14004,7126-14529,7499-14426,7720-15821,7807-13999,7816-14807,7816-15382,7863-13449,7863-15382,7981-15503,8471-13449,8471-13584,8471-14377,8574-13999,8624-14055,8624-14815,8624-15335,Sum
0,UCI_10,0.263926,0.027782,0.000000,0.152799,0.069454,0.013891,0.013891,0.055563,0.625087,0.680650,0.194471,0.000000,0.027782,0.125017,0.013891,0.000000,0.152799,0.000000,0.416725,0.055563,0.000000,0.027782,0.000000,0.250035,0.013891,0.027782,0.000000,0.069454,0.000000,0.000000,3.014308
1,UCI_11,0.098968,0.368879,0.047235,0.002249,0.038237,0.053982,0.096718,0.026991,0.254167,0.359882,0.173193,0.024742,0.044985,0.150701,0.040487,0.044985,0.188938,0.074226,0.206932,0.020243,0.029240,0.006748,0.042736,0.366630,0.033739,0.026991,0.058481,0.029240,0.040487,0.033739,2.885805
2,UCI_12,0.149991,0.308805,0.070584,0.141168,0.035292,0.052938,0.026469,0.008823,0.211752,0.141168,4.376213,0.132345,0.017646,0.061761,0.000000,0.008823,0.035292,0.017646,0.185283,0.000000,0.008823,0.008823,0.026469,0.123522,0.008823,0.026469,0.017646,0.000000,0.008823,0.061761,6.123169
3,UCI_13,0.056754,0.113507,0.000000,0.000000,0.056754,0.000000,0.000000,0.056754,0.000000,0.567537,0.340522,0.056754,0.000000,0.141884,0.000000,0.028377,0.283768,0.000000,0.085131,0.000000,0.000000,0.000000,0.000000,0.198638,0.028377,0.000000,0.056754,0.000000,0.000000,0.000000,2.014756
4,UCI_14,0.155844,0.225108,0.467532,0.311688,0.017316,0.017316,0.000000,0.069264,0.571429,0.675325,0.311688,0.034632,0.000000,0.069264,0.000000,0.034632,0.225108,0.034632,0.225108,0.017316,0.000000,0.034632,0.000000,0.294372,0.034632,0.034632,0.000000,0.069264,0.069264,0.103896,3.948052

In [12]:
# Join data
df_merge = meta.merge(deletions_pct, on="Sample_ID", how="inner")
df_merge.shape
df_merge.head()

,Sample_ID,Diagnosis,Sex,Age,RNA Sample ID - GEO GSE224683,DNA Sample ID - dbGaP phs002395.v1.p1,983-13803,1105-13846,1127-13868,1714-15517,3789-14807,5368-14055,5368-15335,6219-13449,6329-13994,6335-13999,6545-13846,6545-14419,6840-11136,7126-14004,7126-14529,7499-14426,7720-15821,7807-13999,7816-14807,7816-15382,7863-13449,7863-15382,7981-15503,8471-13449,8471-13584,8471-14377,8574-13999,8624-14055,8624-14815,8624-15335,Sum
0,UCI_10,CTRL,F,45,Sample22,258,0.263926,0.027782,0.000000,0.152799,0.069454,0.013891,0.013891,0.055563,0.625087,0.680650,0.194471,0.000000,0.027782,0.125017,0.013891,0.000000,0.152799,0.000000,0.416725,0.055563,0.000000,0.027782,0.000000,0.250035,0.013891,0.027782,0.000000,0.069454,0.000000,0.000000,3.014308
1,UCI_11,CTRL,M,77,Sample28,204,0.098968,0.368879,0.047235,0.002249,0.038237,0.053982,0.096718,0.026991,0.254167,0.359882,0.173193,0.024742,0.044985,0.150701,0.040487,0.044985,0.188938,0.074226,0.206932,0.020243,0.029240,0.006748,0.042736,0.366630,0.033739,0.026991,0.058481,0.029240,0.040487,0.033739,2.885805
2,UCI_12,SCZ,M,49,Sample4,300,0.149991,0.308805,0.070584,0.141168,0.035292,0.052938,0.026469,0.008823,0.211752,0.141168,4.376213,0.132345,0.017646,0.061761,0.000000,0.008823,0.035292,0.017646,0.185283,0.000000,0.008823,0.008823,0.026469,0.123522,0.008823,0.026469,0.017646,0.000000,0.008823,0.061761,6.123169
3,UCI_13,SCZ,M,38,Sample21,302,0.056754,0.113507,0.000000,0.000000,0.056754,0.000000,0.000000,0.056754,0.000000,0.567537,0.340522,0.056754,0.000000,0.141884,0.000000,0.028377,0.283768,0.000000,0.085131,0.000000,0.000000,0.000000,0.000000,0.198638,0.028377,0.000000,0.056754,0.000000,0.000000,0.000000,2.014756
4,UCI_14,CTRL,M,59,Sample9,284,0.155844,0.225108,0.467532,0.311688,0.017316,0.017316,0.000000,0.069264,0.571429,0.675325,0.311688,0.034632,0.000000,0.069264,0.000000,0.034632,0.225108,0.034632,0.225108,0.017316,0.000000,0.034632,0.000000,0.294372,0.034632,0.034632,0.000000,0.069264,0.069264,0.103896,3.948052

In [13]:
df_merge.columns = (df_merge.columns
              .str.strip()
              .str.lower()
              .str.replace(' ', '_')
              .str.replace('-', '_')
              .str.replace('()', '')
              .str.replace(')', '')
              .str.replace('/', '_'))
print("Cleaned colum names:")
print(df_merge.columns.tolist())

Cleaned colum names:
['sample_id', 'diagnosis', 'sex', 'age', 'rna_sample_id___geo__gse224683', 'dna__sample_id___dbgap_phs002395.v1.p1', '983_13803', '1105_13846', '1127_13868', '1714_15517', '3789_14807', '5368_14055', '5368_15335', '6219_13449', '6329_13994', '6335_13999', '6545_13846', '6545_14419', '6840_11136', '7126_14004', '7126_14529', '7499_14426', '7720_15821', '7807_13999', '7816_14807', '7816_15382', '7863_13449', '7863_15382', '7981_15503', '8471_13449', '8471_13584', '8471_14377', '8574_13999', '8624_14055', '8624_14815', '8624_15335', 'sum']

In [14]:
import pandas as pd

# Example: Create age bins
df_merge['age_group'] = pd.cut(df_merge['age'],
                               bins= [0, 30, 50, 70, 100],
                               labels= ['<30', '30-50', '50-70', '70+'])

df_merge = df_merge.rename(columns={'sum': 'top30_cumulative_deletion_pct'})
# Check new columns
print(df_merge[['age', 'age_group', 'top30_cumulative_deletion_pct']].head(10))

   age age_group  top30_cumulative_deletion_pct
0   45     30-50                       3.014308
1   77       70+                       2.885805
2   49     30-50                       6.123169
3   38     30-50                       2.014756
4   59     50-70                       3.948052
5   42     30-50                       1.396161
6   63     50-70                       2.585604
7   64     50-70                       4.777840
8   53     50-70                       2.242590
9   56     50-70                       2.887890

In [15]:
df_merge.to_csv('../data/processed/samples_clean.csv', index=False)